{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <h3 class="h3 text-center pb-6">Our Services</h3>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 border border-gray-400 rounded-lg shadow-md mb-3">
        <img class="w-auto" src="{% static 'img/services-website.jpg' %}" alt="Website Services">
        <h4 class="h4 text-center pt-2">Website Development</h4>
        <p class="p-4">You need a website that serves as a powerful tool for your business, not another generic
          wordpress clone. Let
          us build a modular site for you with endless custom possibilities.</p>
        <a href="{% url 'contact' %}"
          class="bg-blue-500 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow m-4">
          Contact Us
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 border border-gray-400 rounded-lg shadow-md mb-3">
        <img class="w-auto" src="{% static 'img/services-google.jpg' %}" alt="Google Services">
        <h4 class="h4 text-center pt-2">Google Services</h4>
        <p class="p-4">When it comes to reaching your demographic, Google is king. Set yourself up right with Google's
          services so that everyone can find your site.</p>
        <a href="{% url 'contact' %}"
          class="bg-blue-500 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow m-4">
          Contact Us
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 border border-gray-400 rounded-lg shadow-md mb-3">
        <img class="w-auto" src="{% static 'img/services-email.jpg' %}" alt="Email Services">
        <h4 class="h4 text-center pt-2">Email Campaigns</h4>
        <p class="p-4">Create powerful email subscriber lists to keep your customers up to date with your company.</p>
        <a href="{% url 'contact' %}"
          class="bg-blue-500 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow m-4">
          Contact Us
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Divider Section-->
<section
  style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom"
  class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="text-4xl font-bold">We will set you up with an easy to use website that is integrated with Google
          Analytics and Google Ads.</h2>
        <a href="#" class="hero-link">View More</a>
      </div>
    </div>
  </div>
</section>
<!-- Newsletter Section-->
{% comment %}<section class="newsletter no-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Subscribe to Newsletter</h2>
        <p class="text-big">Add text here.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="{% url 'email-list-signup' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ form }}
              <button type="submit" class="submit">Signup</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endcomment %}
<!-- Gallery Section-->
<section class="gallery no-padding">
  <div class="row">
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/gallery-1.jpg" data-fancybox="gallery" class="image"><img
            src="{% static 'img/gallery-1.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/gallery-2.jpg" data-fancybox="gallery" class="image"><img
            src="{% static 'img/gallery-2.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/gallery-3.jpg" data-fancybox="gallery" class="image"><img
            src="{% static 'img/gallery-3.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search"></i></div>
        </a></div>
    </div>
    <div class="mix col-lg-3 col-md-3 col-sm-6">
      <div class="item"><a href="img/gallery-4.jpg" data-fancybox="gallery" class="image"><img
            src="{% static 'img/gallery-4.jpg' %}" alt="..." class="img-fluid">
          <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search"></i></div>
        </a></div>
    </div>
  </div>
</section>

{% endblock content %}